@import "tailwindcss";

@layer base {
  body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #6366f1, #a855f7, #ec4899);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
