@import "tailwindcss";

/* Nav title */
@utility nav-title {
  @apply text-3xl max-sm:text-xl font-semibold tracking-wide text-white;
}

/* Logout button */
@utility logout-btn {
  @apply bg-white/20 text-white font-medium px-5 py-2 rounded-lg cursor-pointer hover:bg-red-500 transition 
         max-sm:px-3 max-sm:py-1 max-sm:text-sm;
}

/* Nav container */
@utility nav-container {
  @apply flex justify-between px-4 md:px-10 py-5 items-center;
}
